button {
    background: white;
    border: 3px solid black;
    border-radius: 6px;
    color: black;
	font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    transition: transform 0.5s;
	text-transform: uppercase;
	
	&:hover {
		transform: scale(1.05);
		cursor: pointer;
	}
	&:active {
		transform: scale(1.20);
	}
}

@media only screen and (max-width: 1024px) {
    button {
        transform: scale(0.9);
    }
}

@media only screen and (max-width: 768px) {
    button {
        transform: scale(0.8);
    }
}